.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 #html5-qrcode-anchor-scan-type-change{
  display: none !important;
}

#reader img{
  display: none !important;
} 

#reader video{
  width: 18rem !important;
  height: 18rem !important;
}
span:has(select){
  display: none !important;
}

#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop{
  background-image: linear-gradient(to right, #5982da 0%, #e467d3  50%, #eb3fdc  100%);
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(37, 36, 36);
}
#qr-shaded-region{
  border-width: 40px 40px !important;
}
